<% if flash[:notice_added] %>
  <div class="flash_notice"><%= flash[:notice_added] %></div>
<% end %>
<%= link_to "Create New Tariff", :action => "createTariff", :id => "alink" %>
<h4>List of tariffs for your agents ... </h4>
<table class = "list">
  <thead>
    <tr>
      <th> Tariff ID </th>
      <th> Tariff Name </th>
      <th>  </td>
    </tr>
  </thead>
  <tbody>
  <% @my_agents_tariffs.each do |t| %>
    <tr>
      <td><%= t.first[:id_tariff] %> </td>
      <td><%= t.first[:description] %></td>

      <td><%= link_to "View or Edit Tariff", :tariff => t.first, :action => "viewEditTariffRates" %></td>
    </tr>
  <% end %>
  </tbody>
</table>