<% if flash[:error_adding] %>
  <div class="flash_error"><%= flash[:error_adding] %></div>
<% end %>
<% if flash[:notice_added] %>
  <div class="flash_notice"><%= flash[:notice_added] %></div>
<% end %>
<div id="create_tariff">
<%= form_tag(:action => "createTariffSubmit", :id => "create_tariff") do %>
  <br><br>
  <%= label_tag "Description:" %><br>
  <%= text_field_tag 'description', session[:description] || "test"%><br><br>
  <%= label_tag "Minimal Time: " %><br>
  <%= number_field_tag 'minimal_time', session[:minimal_time] || 1%><br><br>
  <%= label_tag "Resolution: " %><br>
  <%= number_field_tag 'resolution', session[:resolution] || 1%><br><br>
  <%= label_tag "Surcharge Time: " %><br>
  <%= number_field_tag 'surcharge_time', session[:surcharge_time] || 0 %><br><br>
  <%= label_tag "Surcharge Amount: " %><br>
  <%= number_field_tag 'surcharge_amount', session[:surcharge_amount] || 0.0000 %><br><br>
  <%= label_tag "Type: " %><br>
  <%= number_field_tag 'type', session[:type] || 0 %><br><br>
  <%= label_tag "Rate Multiplier: " %><br>
  <%= number_field_tag 'rate_multiplier', session[:rate_multiplier] || -1 %><br><br>
  <%= label_tag "Rate Addition: " %><br>
  <%= number_field_tag 'rate_addition', session[:rate_addition] || -1 %><br><br>
  <%= label_tag "ID Currency: " %><br>
  <%= number_field_tag 'id_currency', session[:id_currency] || 1 %><br><br>
  <%= label_tag "Time to Start: " %><br>
  <%= datetime_select 'time_to_start', session[:time_to_start] %><br><br>
  <%= label_tag "Base Tariff ID: " %><br>
  <%= number_field_tag 'base_tariff_id', session[:base_tariff_id] || -1 %><br><br>
  <%= label_tag "Cost Threshold Resolution: " %><br>
  <%= number_field_tag 'cost_threshold_resolution', session[:cost_threshold_resolution] || 0 %><br><br>
  <%= label_tag "Cost Threshold: " %><br>
  <%= number_field_tag 'cost_threshold', session[:cost_threshold] || 0 %><br><br>
  <%= submit_tag "Add", :class => "submit_button" %><br><br>
<% end %>
</div>

