<h2>These are my clients</h2>
<% if session[:current_reseller3_id] %>
  <div class="add_payment" style = "border: 1px solid black; padding: 5px;">
    <h3> ADD PAYMENT </h3>
  <% myResellers_name = [] %>
  <ul>
  <% @myResellers.each do |r| %>
        <% myResellers_name.push(r[:login]) %>
      <% end %>
  </ul>
    <%= form_tag :action => 'addPayment' do %>
      <%= label_tag "Your Reseller's Login: " %>
      <%= select :resellers3, :login, myResellers_name.collect {|r_name| r_name} %>
      <%= label_tag "Payment amout" %>
      <%= text_field_tag :payment_amount %>  
      <%= submit_tag "Add Payment" %>
    <% end %>
  </div>

  <table class = "list">
    <thead>
      <tr>
        <th> id </th>
        <th> login </th>
        <th> Balance </td>
        <th> Type </td>
      </tr>
    </thead>
    <tbody>
      <% @myResellers.each do |r| %>
      <tr>
        <td><%= r[:id] %> </td>
        <td><%= r[:login] %></td>
        <td><%= r[:callsLimit] %></td>
        <td><%= r[:type] %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
  
<% end %>