<% if flash[:error_adding] %>
  <div class="flash_error"><%= flash[:error_adding] %></div>
<% end %>
<% if flash[:notice_added] %>
  <div class="flash_notice"><%= flash[:notice_added] %></div>
<% end %>
<div class="common_form" id="add_client">
<%= form_tag(:action => "addClientSubmit") do %>
  <%= label_tag "Login: " %>
  <%= text_field_tag 'login', session[:client_login] %><br>
  <%= label_tag "Password:" %>
  <%= text_field_tag 'password' %><br>
  <%= label_tag "PIN: " %>
  <%= text_field_tag 'pin', session[:client_pin] %><br>
  <%= label_tag "Calls Limit: " %>
  <%= number_field_tag 'calls_limit', session[:client_calls_limit] %><br>
  <%= label_tag "Choose Tariff: " %>
  <%= select :client, :tariff, @result_tariff["result"].collect {|t| t} %><br>
  <%= submit_tag "Add", :class => "submit_button" %>
<% end %>
</div>