<% if session[:current_reseller1_id] %>
  <% if flash[:error] %>
    <div class="flash_error"><%= flash[:error] %></div>
  <% end %>
  <h3>Welcome <%= @result["result"]["login"] rescue nil %>!</h3>
  <p> Your Balance is $
  	<%begin%><%= @result["result"]["balance"]%>
  	<%rescue%>
  	  0
  	<%end%>
  </p>
  <p> Your Profit is $<%= (@total_revenue - @total_cost).round(5) rescue nil%></p>
<% else %>
  <%= flash[:error] = "You must be logged in to view this page" %><br><br>
  <span class="login_link"><%= link_to "Login", "/sessions/new" %></span>
<% end %>