<div id="edit_tariff">
<%= form_tag(:action => "addRatesToTariffSubmit", :id => "editTariffSubmit") do %>
  <br><br>
  <table class="tariff_list">
  	  <thead>
  		<th>Prefix</th>
  		<th>Description</th>
  	  <th>Rate</th>
      <th>Increase by</th>
      <th>Multiply by</th>
      <th>Grace Period</th>
  	  </thead>
  	  <tbody>
     <span class="next_link"><%= link_to "Next ->", :tariff => @tariffs.first, :action => "addRatesToTariff1"%></span>
  	  <% @tariffs.first(20).each do |t| %>
  	  	<tr>
          <td><%= number_field_tag 'prefix', t[:prefix], :disabled => true %></td>
  	  		<td><%= text_field_tag 'description', t[:description] %></td>
  	  		<td><%= text_field_tag 'voice_rate', t[:voice_rate] %></td>
          <td><%= text_field_tag 'rate_addition', t[:rate_addition] %></td>
          <td><%= text_field_tag 'rate_multiplier', t[:rate_multiplier] %></td>
          <td><%= text_field_tag 'grace_period', t[:grace_period] %></td>
          <td><span class="save_link"><%= link_to 'Save', :t_id => t[:id_tariffs_key], :description => t[:description], :voice_rate => t[:voice_rate], :rate_addition => t[:rate_addition], :rate_multiplier => t[:rate_multiplier], :grace_period => t[:grace_period], :action => "addRatesToTariffSubmit" %> </span></td>
  	  	</tr>
  	  <% end %>
  	  </tbody>
  </table>
  <%= submit_tag "Add", :class => "submit_button" %><br><br>
<% end %>
</div>