<% if flash[:error_adding] %>
  <div class="flash_error"><%= flash[:error_adding] %></div>
<% end %>
<% if flash[:notice_added] %>
  <div class="flash_notice"><%= flash[:notice_added] %></div>
<% end %>
<div id="add_reseller3">
<%= form_tag(:action => "addReseller3Submit", :id => "add_reseller3") do %>
  <br><br>
  <%= label_tag "Login: " %><br>
  <%= text_field_tag 'login', session[:client_login] %><br><br>
  <%= label_tag "Password:" %><br>
  <%= text_field_tag 'password' %><br><br>
  <%= label_tag "Choose Tariff: " %><br>
  <%= select :reseller3, :description, @tariff_names.collect {|t| t} %><br><br>
  <%= label_tag "calls limit:" %><br>
  <%= number_field_tag 'callsLimit' %><br><br>
  <%= label_tag "clients limit:" %><br>
  <%= number_field_tag 'clientsLimit' %><br><br>
  <%= label_tag "Identifier:" %><br>
  <%= text_field_tag 'identifier' %><br><br>
  <%= label_tag "Type:" %><br>
  <%= text_field_tag 'type' %><br><br>
  <%= label_tag "Tech prefix:" %><br>
  <%= text_field_tag 'tech_prefix'%><br><br>
  <%= label_tag "Fullname:(Optional)" %><br>
  <%= text_field_tag 'Fullname', ""%><br><br>
  <%= label_tag "City:(Optional)" %><br>
  <%= text_field_tag 'City', ""%><br><br>
  <%= label_tag "Address:(Optional)" %><br>
  <%= text_field_tag 'Address', ""%><br><br>
  <%= label_tag "Country:(Optional)" %><br>
  <%= text_field_tag 'Country', ""%><br><br>
  <%= label_tag "Phone:(Optional)" %><br>
  <%= text_field_tag 'Phone', ""%><br><br>
  <%= label_tag "Email:(Optional)" %><br>
  <%= text_field_tag 'Email', ""%><br><br>
  <%= label_tag "TaxID:" %><br>
  <%= text_field_tag 'TaxID', ""%><br><br>
  <%= label_tag "type2:" %><br>
  <%= text_field_tag 'type2', 8767%><br><br>
  <%= label_tag "language:(Optional)" %><br>
  <%= text_field_tag 'language', ""%><br><br>
  <%= submit_tag "Add", :class => "submit_button" %><br><br>
<% end %>
>>>>>>> d7b71a49c141b15f50a874250d434bfd16b73dec
</div>