<%= session[:current_user_name] %>
<div class="add_payment">
  <h3> Add payment for your agents </h3>
  <% if flash[:error_payment] %>
    <div class="flash_error"><%= flash[:error_payment] %></div>
  <% end %>
  <% if flash[:notice_payment] %>
    <div class="flash_notice"><%= flash[:notice_payment] %></div>
  <% end %>
  <% myResellers_name = [] %>
  <% @myResellers.each do |r| %>
    <% myResellers_name.push(r[:login]) %>
  <% end %>
  <%= form_tag :action => 'addPayment' do %>
    <%= label_tag "Client's Login: " %>
    <%= select :resellers3, :login, myResellers_name.collect {|r_name| r_name} %>
    <%= label_tag "Amount:" %>
    <%= text_field_tag :payment_amount, (params[:payment_amount] or "0.00") %>  
    <br><br>
    <%= label_tag "Note:" %><br>
    <%= text_area_tag :payment_note, (params[:payment_note] or "") %>  
    <br><br>
    <%= submit_tag "Add", :confirm => 'Are you sure?' %>
  <% end %>
</div>
<h4>List of your agents ... </h4>
<table class = "list">
  <thead>
    <tr>
      <th> id </th>
      <th> login </th>
      <th> password </td>
      <th> Balance </td>
    </tr>
  </thead>
  <tbody>
  <% @myResellers.each do |r| %>
    <tr>
      <td><%= r[:id] %> </td>
      <td><%= r[:login] %></td>
      <td><%= r[:password] %></td>
      <td><%= r[:callsLimit] %></td>
    </tr>
  <% end %>
  </tbody>
</table>