<% if session[:current_reseller3_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_reseller3_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/reseller3s/" %></td>
        <td><%= link_to "My Agents", "/reseller3s/viewMyResellers" %></td>
        <td><%= link_to "View Clients CDR", "/reseller3s/viewMyResellersCDR" %></td>
      </tr>
    </table>
<% elsif session[:current_reseller2_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_reseller2_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/reseller2s/" %></td>
        <td><%= link_to "My Agents", "/reseller2s/viewMyResellers" %></td>
        <td><%= link_to "View Clients CDR", "/reseller2s/viewMyResellersCDR" %></td>
      </tr>
    </table>
<% elsif session[:current_reseller1_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_reseller1_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/reseller1s/" %></td>
        <td><%= link_to "My Clients", "/reseller1s/viewMyClients" %></td>
        <td><%= link_to "View My CDR", "/reseller1s/viewMyClientsCDR" %></td>
      </tr>
    </table>

<% end %>
