<% if session[:current_user_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_user_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/users/" %></td>
        <td><%= link_to "My Agents", "/users/viewMyResellers" %></td>
      </tr>
    </table>
<% elsif session[:current_reseller3_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_reseller3_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/reseller3s/" %></td>
        <td><%= link_to "Agents", "/reseller3s/viewMyResellers" %></td>
        <td><%= link_to "CDR", "/reseller3s/viewMyResellersCDR" %></td>
        <td><%= link_to "Active Calls", "/reseller3s/viewActiveCalls" %></td>
        <td><%= link_to "My Tariff", "/reseller3s/viewMyTariff" %></td>
      </tr>
    </table>
<% elsif session[:current_reseller2_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_reseller2_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/reseller2s/" %></td>
        <td><%= link_to "Agents", "/reseller2s/viewMyResellers" %></td>
        <td><%= link_to "CDR", "/reseller2s/viewMyResellersCDR" %></td>
        <td><%= link_to "Active Calls", "/reseller2s/viewActiveCalls" %></td>
        <td><%= link_to "My Tariff", "/reseller2s/viewMyTariff" %></td>
      </tr>
    </table>
<% elsif session[:current_reseller1_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_reseller1_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/reseller1s/" %></td>
        <td><%= link_to "Clients", "/reseller1s/viewMyClients" %></td>
        <td><%= link_to "CDR", "/reseller1s/viewMyClientsCDR" %></td>
        <td><%= link_to "Active Calls", "/reseller1s/viewActiveCalls" %></td>
        <td><%= link_to "My Tariff", "/reseller1s/viewMyTariff" %></td>
        <td><%= link_to "Add Clients", "/reseller1s/addClient" %></td>

      </tr>
    </table>
<% elsif session[:current_client_id] %>
  <span class="about_you">You are logged in as <strong><%= session[:current_client_login] %></strong></span>
    <table class="menu">
      <tr>
        <td><%= link_to "Home", "/clients/" %></td>
        <td><%= link_to "View My Tariff", "/clients/viewMyTariff" %></td>
      </tr>
    </table>



<% end %>
