<!DOCTYPE html>
<html>
<head>
  <title>VSR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>VSR</h1>
<% if session[:current_reseller3_id] || session[:current_reseller2_id] || session[:current_reseller1_id] || session[:current_client_id] || session[:current_user_id] %>
  <span class="logout_link"><%= link_to "Log out", '/sessions/destroy', :class => 'logout_link' %></span>
<%end%>
<%= render 'shared/menu' %>
<%= yield %>

</body>
</html>
